{% extends 'cfFrenemies/layout.html' %}
{% block content %}
<div>
    <small>
        <a href="{% url 'index' %}">Main Page</a>
    </small>
</div>
	<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Friend</legend>
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {{ form.as_p }}
                 <!-- #this form is obtained from auth_views, the inbuilt login views in django -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <ul class='friend_handle'>
                {% for friend in friends %}
                <li>
                    <a href="https://codeforces.com/profile/{{ friend }}" title = "Click to view profile"
                    target="_blank" style="color:black;">{{ friend }}</a>
                    <a href="{% url 'delFriend' friend %}" title = "Click to remove this handle" 
                    style="color:#FF0000;font-weight:bold;">&#10060</a>
                </li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock content %}
